
#sectn-splash {
	background-image: url("../images/fondo-foodmap.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	font-family: 'Berkshire Swash', cursive;
	font-family: 'Open Sans', sans-serif;
	background-color: #8D0C17;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 10;
	text-align: center;
}
#sectn-splash h1 {
	font-family: 'Berkshire Swash', cursive;
	padding-top: 12rem;
	color: #FFFFFF;
	font-size: 5rem;
}
#sectn-splash i {
	color: #FFFFFF;
	font-size: 5rem;
	margin-bottom: 14rem;
}
#header {
	background-color: #8D0C17;
}
#header h1 {
	font-family: 'Berkshire Swash', cursive;
	color: #76F462;
	border-bottom: 2px solid #76F462;
	padding-bottom: 2rem;
}
#sectn-maps {
	padding-top: 3rem;
	padding-bottom: 2rem;
	background-color: #8D0C17;
}
#sectn-search {
	background-color: #8D0C17;
	color: #76F462;
	padding-bottom: 4rem;
}
#sectn-search h2 {
	font-family: 'Berkshire Swash', cursive;
	padding-bottom: 2rem;
}
body .sectn-imgs {
	background-color: #8D0C17;
}
body .img-food {
	height: 15.625rem;
	width: 24.4375rem;
	padding-bottom: 3rem;
}
#sectn-food span{
	color: #76F462;
	font-family: 'Berkshire Swash', cursive;
	font-size: 3rem;
	background-color: #8D0C17;
	position: absolute;
	top: 2rem;
	left: 12rem;
	z-index: 10;
}
#sectn-food #row-food-2 span{
	left: 10rem;
}
#sectn-food #row-food-2 #img-vegetarian span{
	left: 8rem;
}