
#sectn-splash {
	background-image: url("../images/fondo-foodmap.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	font-family: 'Berkshire Swash', cursive;
	font-family: 'Open Sans', sans-serif;
	background-color: #8D0C17;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 10;
	text-align: center;
}
#sectn-splash h1 {
	font-family: 'Berkshire Swash', cursive;
	padding-top: 12rem;
	color: #FFFFFF;
	font-size: 5rem;
}
#sectn-splash i {
	color: #FFFFFF;
	font-size: 5rem;
	margin-bottom: 14rem;
}
#header {
	background-color: #8D0C17;
}
#header h1 {
	font-family: 'Berkshire Swash', cursive;
	color: #76F462;
	border-bottom: 2px solid #76F462;
}
#sectn-maps {
	background-color: #8D0C17;
}
#sectn-search {
	background-color: #8D0C17;
	color: #76F462;
}
#sectn-imgs {
	background-color: #8D0C17;
}
#sectn-imgs .img-food {
	height: 15.625rem;
	width: 24.4375rem;
}
